.capital {
    color: black;
    text-align: center;
    font-weight: bolder;
}

.countries img {
    width: 230px;
    height: 150px;
}

.countries-dispaly {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(246, 243, 243);
}

.countries {
    margin: 2rem;
    border: 2px solid black;
    height: 200px;
    background: rgb(129, 221, 226);
}